<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>node-express-mongo-jwt-rest-api-starter</title>
</head>
<body>
    <h1 style="text-align:center; margin-top: 100px">API home</h1>
  <h2 style="text-align:center">For more info visit: <a target="_blank" href="https://github.com/Sathiskumar-S/node-express-mongo-jwt-rest-api-starter.git">node-express-mongodb-jwt-rest-api-skeleton</a></h2>
</body>
</html>